<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Go blog!</title>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/3.4.1/css/bootstrap.css}">
</head>
<body>
<div class="container">

  <!--  navigation  -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a th:href="@{/}" class="navbar-brand">Infoblog</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="active" sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/new}">Create Post</a></li>
      </ul>
    </div>
  </nav>

  <!--  posts  -->
  <div class="jumbotron" th:each="post : ${posts}">
    <h1><a th:text="${post.title}" th:href="@{'/post/' + ${post.id}}">Title</a></h1>
    <h5 th:text="'Published on ' + ${#temporals.format(post.dateCreated, 'yyyy-MMMM-dd')}
                                 + ' by '
                                 + ${post.user?.firstName}
                                 + ' '
                                 + ${post.user?.lastName}">Published on and created by</h5>
    <p th:text="${post.body}">...</p>
  </div>

  <!--  pagination  -->
  <nav aria-label="Page navigation" th:if="${totalPages > 1}">
    <ul class="pagination" th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
      <li>
        <a th:if="${currentPage != pageNum}" th:href="@{'/?page=' + ${pageNum}}">
          [[ ${pageNum} ]]
        </a>
        <a th:unless="${currentPage != pageNum}" th:href="@{'/?page=' + ${pageNum}}">
          [[ ${pageNum} ]]
        </a>
      </li>
    </ul>
  </nav>

</div>
</body>
</html>
